/* custom.css */

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

.stt {
    color: black;
    font-size: 14px;
}

/* tr { */
/*     line-height: 14px; */
/* } */

table tr td:empty {
    width: 50px;
}

table tr td,th {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* padding-left: 10px; */
    padding-right: 10px;
}

table caption {
    font-weight: bold;
    text-align: left;
}