/* custom.css */

/* Center the page nicely */

* {
   margin:0;
   padding:0;
}

body {
   text-align: center; /*for ie6 shenanigans*/
}

#wrapper {
   width: 50em;
   margin: 0 auto;
   text-align: left;
}

.row #content {
    max-width: 50em;
}

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

blockquote {
    font-size: 100%;
}